*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #333333;
    width: 100%;
    height: 100px;
}
.hizala{
    width: 65%;
    margin: auto;

}
.navMenuFirststep{
    width: 50%;
    float: left;
    padding-top: 15px;
}
.navMenuFirststep h1{
    color: wheat;
    font-size: 35px;
}
.navMenuFirststep h4{
    color: wheat;
}
.navMenuSecontstep{
    width: 50%;
    float: left;
    padding-top: 15px;
}
.navMenuElements{
    list-style-type: none;
    background-color: #232323;
    text-align: center;
}

.navMenuElements li{
    display: inline-block;
    padding: 22px;
    color: wheat;
}
.navMenuElements li:hover{
    color: orange;
    cursor: pointer;
}
main{
    padding-top: 30px;
    padding-bottom: 30px;
}
.banner{
    width: 100%;
    height: 360px;
    background-image: url(images/blog_banner.jpg);
    background-size: cover;
    background-position: center;
}
.littleBlogs{
    width: 100%;
    height: 360px;
    margin-top: 30px;
}
.littleBlog{
    width: 360px;
    height: 360px;
    float: left;
}
.littleBlog h4{
    margin-bottom: 10px;
}
.littleBlog a{
    float: right; margin-top: 1opx; 
    color: orange; 
    text-decoration: none; 
    font-weight: bold;
}
.littleBlog:nth-child(2){
    margin-left: 80px;
}
.littleBlog:nth-child(3){
    float: right;
}
.lastBog{
    width: 100%;
    height: 320px;
    margin-top: 25px;
}
.lastBlogContent{
    width: 48%;
    height: 320px;
    float: left;
}
.lastBlogContent a{
    text-decoration: none;
    color: orange;
}
.lastBlogImage{
    width: 50%;
    height: 320px;
    float: right;
    background-image: url(images/last_blog.jpg);
    background-size: cover;
    background-position: center;
}
footer{
    background-color: #333333;
    width: 100%;
    height: auto;
    padding-top: 25px;
}
.footerMenu{
    width: 25%;
    height: 100px;
    float: left;
}
.footerMenu h3{
    color: wheat;
    margin-bottom: 10px;
}
.footerMenu ul{
    list-style: none;
}
.footerMenu ul li{
    color: orange;
    margin-bottom: 5px;
}
.footerMenu ul li:hover{
    cursor: pointer;
}
.footerMenu:nth-child(2){
    margin-left: 150px;
}
.footerMenu:nth-child(3){
    float: right;
}
.copyRigtPart{
    background-color: #232323;
    width: 100%;
    height: 40px;
    margin-top: 150px;
}
.copyRigtPart h4{
    color: wheat;
    text-align: center;
    padding-top: 8px;
}